@import "tailwindcss";

@layer base {
  :root {
    --font-display: 'Hanken Grotesk', system-ui, -apple-system, sans-serif;
    --font-sans: 'Work Sans', system-ui, -apple-system, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }
}

.font-display {
  font-family: var(--font-display);
}

.font-sans {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f4;
}
::-webkit-scrollbar-thumb {
  background: #c2c6d3;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #737783;
}
